.center{
    text-align: center;
}
.overview{
    margin-top: 4px;
    font-weight: 500;
}
.additionalInfo{
    font-weight: bolder;
    color: red;
}
p{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 4px;
}